<ng-template #loading>
   <div class="w-full h-[60vh] flex justify-center items-center">
    <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
        stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg"
        class="animate-spin w-6 h-6 stroke-slate-500">
        <path
            d="M12 3v3m6.366-.366-2.12 2.12M21 12h-3m.366 6.366-2.12-2.12M12 21v-3m-6.366.366 2.12-2.12M3 12h3m-.366-6.366 2.12 2.12">
        </path>
    </svg>
   </div>
</ng-template>

<ng-container *ngIf="post$ | async as posts; else loading">
    @for (item of posts; track $index) {
    <a [routerLink]="['/post']" [queryParams]="{ page: item.id }" class="group block mb-8 pb-2">
        <div>
            <div class="flex flex-col  mt-4 gap-sy-2 justify-between">
                <p class="text-sm font-sans">{{ item.modifiedDate | date}}</p>
                <p class="font-semibold font-sans">{{ item.head}}</p>

                <p class="font-normal font-sans text-sm">{{ item.details}}</p>

            </div>
        </div>
    </a>
    }
</ng-container>

<div class="mb-48"></div>