<a href="/in/products/leather-backpack" class="group mx-auto max-w-sm block">
    <div>
        <div
            class="rounded-lg relative overflow-hidden p-4 rounded-large group-hover:shadow-elevation-card-hover transition-shadow ease-in-out duration-150 aspect-[11/14] w-full border">
            <img alt="Thumbnail" draggable="false" loading="lazy" decoding="async" data-nimg="fill"
                class="absolute inset-0 object-cover object-center"
                style="position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent"
                sizes="(max-width: 576px) 280px, (max-width: 768px) 360px, (max-width: 992px) 480px, 800px"
                srcset="https://next.medusajs.com/_next/image?url=https%3A%2F%2Fmedusa-server-testing.s3.us-east-1.amazonaws.com%2Fbag-nobg-1700675158493.png&w=1920&q=50"
                src="https://next.medusajs.com/_next/image?url=https%3A%2F%2Fmedusa-server-testing.s3.us-east-1.amazonaws.com%2Fbag-nobg-1700675158493.png&w=1920&q=50">
        </div>
        <div class="flex txt-compact-medium mt-4 justify-between">
            <p class="font-normal font-sans txt-medium text-ui-fg-subtle">Pinnacle Posh Pack</p>
            <div class="flex items-center gap-x-2">
                <p class="font-normal font-sans txt-medium text-ui-fg-muted">₹3,500.00</p>
            </div>
        </div>
    </div>
</a>
<div class="mb-48"></div>