<ng-container *ngIf="artifacts$ | async as artifacts;">
    @for (item of artifacts; track $index) {
    <a href="/in/products/leather-backpack" class="group block mb-8 pb-2">
        <div class="">
            <!-- <div class="flex justify-end items-center gap-x-2 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                </svg>
            </div> -->
            <!-- <div
                class="relative max-h-[60vh] overflow-hidden group-hover:shadow-elevation-card-hover transition-shadow ease-in-out duration-150  w-full border">
                <img alt="Thumbnail" draggable="false" loading="lazy" decoding="async" data-nimg="fill"
                    class="inset-0 object-cover object-center h-auto" [srcset]="item.forepart" [src]="item.forepart">
            </div> -->
            <div class="flex flex-col  mt-4 gap-y-2 justify-between">
                <p class="text-sm font-sans">{{ item.modifiedDate | date}}</p>
                <p class="font-semibold font-sans">{{ item.head}}</p>

                <p class="font-normal font-sans text-sm">{{ item.details}}</p>

            </div>
        </div>
    </a>
    }
</ng-container>


<div class="mb-48"></div>